~<!-- <div>
    <mat-toolbar>
        <span>خوش آمدید</span>
      </mat-toolbar>
</div> -->
<div class="row h-100 m-0">
  <!-- <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">  
            
            <div>
               <mat-form-field appearance="fill" class="full-width">
                  <mat-label>شماره همراه</mat-label>
                  <input [(ngModel)]="loginRequest.mobile" matInput type="text"  placeholder="شماره همراه"  name="mobile" id="mobile">
               </mat-form-field>
            </div>
           <div>
            <mat-form-field appearance="fill">
              <mat-label>رمز عبور</mat-label>
              <input [(ngModel)]="loginRequest.password" type="text" id="password" name="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
         </div>
        </form>

     </mat-card-content>
     <div class="example-button-row">
        <button (click)="login()" style="  font-size: 20px;" mat-raised-button  color="primary">ورود</button>
        &nbsp;
        <button style="  font-size: 20px;"  mat-raised-button color="primary" [routerLink]="['/register']">ثبت نام</button>
      </div>
      &nbsp;
      <button style="font-size: 18px;" mat-button color="warn" *ngIf="loginResponse && loginResponse.isAuthenticated==false"> 
         {{loginResponse.message}}
 
     </button>
     
  </mat-card> -->
  <div class="col-md name center left">
   <h1 class="display-1">Rulilo</h1>
   <p>Register users, login</p>
</div>
<div class="col-md center order-first order-md-last right">
   <img src="../../assets/image/login.svg" alt="Login" class="w-50 d-none d-md-block mb-5">
   <form action="/login" method="POST" class="w-75">
       <h2 class="mb-3">ورود به سامانه</h2>
       <div class="form-group">
           <input [(ngModel)]="loginRequest.mobile" type="text" class="form-control" aria-describedby="emailHelp" placeholder="شماره همراه" name="mobile" required>
       </div>
       <div class="form-group">
           <input [(ngModel)]="loginRequest.password" type="password" class="form-control" placeholder="پسورد" name="password" required>
       </div>
       &nbsp;
       <div class="d-flex">
          <button (click)="login()" style="  font-size: 20px;" mat-raised-button  color="primary">ورود</button>
          &nbsp;
          <button style="  font-size: 20px;"  mat-raised-button color="primary" [routerLink]="['/register']">ثبت نام</button>
       </div>
       &nbsp;
       <button style="font-size: 18px;" mat-button color="warn" *ngIf="loginResponse && loginResponse.isAuthenticated==false"> 
         {{loginResponse.message}}
 
     </button>
   </form>
</div>

  </div>